body{
     background-color: skyblue;
}
.fa{
    color:blue;
}
.box-inside{
    background-color: white;
    padding: 60px 5px;
    /* text-align: center; */
     margin: 20px 10px; 
}
a{
    /* text-decoration: underline; */
    border-bottom: 1px solid blue;
}
span{
    font-size: 15px;
}
.box{
    padding: 60px;
}
.content{
    margin: 20px 0px;
}
